body.active-modal {
    overflow-y: hidden;
}

.logbtn-modal {
    padding: 10px 20px; /* Adjust the padding to set the height and width of the button */
    border-radius: 20px; /* Set the border-radius to be half the height of the button (20px = 40px / 2) */
    font-size: 18px;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #333; /* Add a background color to the button */
    color: #fff; /* Add a text color to the button */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn-modal.second-btn {
    right: 70px;
}

.logmodal, .logoverlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.logmodal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}
